
.title 
{
    margin-left:min(10px,2vmin);
    font-size:max(5vmin,28px);
    font-family: "Delius Swash Caps", cursive;
    font-weight:600;
    color:rgb(255, 225, 0);
    text-shadow:2px 2px 3px rgb(1,1,1);
}

.titleSection
{
    width:100%;
    font-size:10px;
    color:black;
    background-color:rgb(255, 255, 255);
}

.buttonSection
{
    display: flex;
    flex-direction:row;
    justify-content: right;
    margin-right:10px;
}

.button 
{
    margin-left:5px;
    background-color: transparent;
    border-color:transparent;
    border-radius:4px;
    
    width:fit-content;
    padding:2px 5px;

    font-size:max(2vmin,12px);
    font-family: "Kantumruy Pro", sans-serif;
    font-weight: 400;
}

.button:hover 
{
    color:rgb(252, 253, 254);
    text-shadow: 1px 1px 10px rgb(1,1,1);
    box-shadow: 1px 1px 10px 2px rgb(226, 240, 101);
    background-color: rgba(101, 242, 88, 0.926);
    font-weight:500;
    font-size:max(2.4vmin,14px);
}

.line 
{
    height:0.5px;
    background-color: black;

    border-color:transparent;
    border-radius: 10px;;
}

.searchBarSection
{
    margin-top:20px;
    width:100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.searchBar 
{
    width:min(50%,350px);
    border-radius: 10px;
    padding:3px 5px; 
    font-family:"Zain", sans-serif;
    font-size:20px;
}

.searchButton
{
    
    background-color: transparent;
    border-radius:50%;
    width:fit-content;
    padding:2px;
    border-style:outset;
    margin-left:4px;

}


.recommendation
{
    text-align:center;
    width:100vw;
    height:100vh;
    background-color: antiquewhite;
}

.Footer 
{
    margin-top:240px;
    color:black;
}

.issue 
{
    text-align:center;
    font-weight:400;
    font-family:"Zain", sans-serif;
}


.text 
{
    color:black;
    font-weight:500;
    font-family:"Zain", sans-serif;
}

.textc
{
    text-align: center;
    color:black;
    font-weight:400;
    font-family:"Zain", sans-serif;
}

.texts
{
    text-align: center;
    font-size: 10px;
    color:black;
    font-weight:500;
    font-family:"Zain", sans-serif;
}


.HelpSection
{
    display: flex;
    flex-direction:row;
    justify-content: center;
    margin-bottom:10px;
}

.container
{
    margin-right:10px;
    font-size: 15px;
}

.Login
{
    border-radius:20px;
}