
.LoginContainer
{

    height:100vh;
    width:100vw;

    background:url('public/BackGround.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.LoginBox 
{

    width:min(80%,800px);
    min-width:380px;
    height:fit-content;
    background-color:honeydew;
    display: flex;
    flex-direction: row;

    border-radius: 10px;
    border-style: solid;
    border-color: transparent;
    box-shadow: 2px 2px 10px rgb(0, 0, 0);
    padding:5px;
}

.image 
{
    width:min(40%,300px);
    margin-right:5%;
}



.content
{
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;

    width:50%;
    padding:10px;
}

.title 
{
    font-size:max(8vmin,28px);
    font-family: "Delius Swash Caps", cursive;
    font-weight:600;
    color:rgb(255, 225, 0);
    text-shadow:2px 2px 3px rgb(1,1,1);
}

.text 
{
    font-size:max(4vmin,18px);
    font-family:"Zain", sans-serif;
    font-weight: 400;
    color:aliceblue;
    text-shadow:1px 1px 4px rgb(0, 0, 0);
}

.text2 
{
    font-size:min(3.1vmin,16px);
    font-family:"Zain", sans-serif;
    margin-right:10px;
}

.inputBox
{
    width:90%;
    font-family:"Zain", sans-serif;
    border-radius: 10px;
    font-size:18px;
    padding:5px;
}

.inputBox:hover 
{
    background-color: rgb(242, 237, 180);
}

.LoginBox2 
{
    display: flex;
    flex-direction: row;
    width:100%;
    padding:5px;
    border-radius: 10px;

    display: flex;
    flex-direction: row;
    justify-content: center;
}

.Login
{
    border-radius: 10px;
    width:fit-content;
    padding:2px 10px;

    border-style:solid;
    border-color:rgb(22, 22, 22);
    border-width:1.2px;
    
    font-family:"Zain", sans-serif;
    font-weight: 500;
    font-size:max(4vmin,18px);

    background-color: rgba(217, 245, 37, 0.784);
    color:aliceblue;
    text-shadow:1px 1px 1px rgb(1,1,1);
}

.Login:hover 
{
    background-color: aquamarine;
}


/*
CSS Specific to register page begins below
*/

.imagechoose 
{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    width:100%;
    height: 100%;
}

.image2
{
    width:80%;
    border-radius: 50%;
}

.imageButton
{
    border-radius: 10px;
    width:fit-content;
    padding:2px 10px;

    border-style:solid;
    border-color:rgb(22, 22, 22);
    border-width:1.2px;
    
    font-family:"Zain", sans-serif;
    font-weight: 500;
    font-size:max(3vmin,18px);

    margin-top:20px;
    background-color: rgba(217, 245, 37, 0.784);
    color:aliceblue;
    text-shadow:1px 1px 10px rgb(1,1,1);  
}

.imageButton:hover 
{
    background-color: aquamarine;
}

.heading 
{
    font-family:"Zain", sans-serif;
    font-weight:800;
    font-size: min(3vmin,24px);
    margin-right:5px;
}

.details 
{
    font-family:"Zain", sans-serif;
    font-weight:400;
    font-size: min(3vmin,24px);  
}


.content2 
{
    margin:auto;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;

    width:60%;
    padding:10px;  
}